html{
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

/*navigation menu */

nav{
	height: 65px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: white;
	width: 100%;
}

.navUl{
	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: 65px;
	align-content: center;
}

.navUl li{
	list-style: none;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;

}

.navUl1 li:hover{
	background:red;
	color: white;
}

.navUl2 li:hover{
	color: red;
}

.menuFont{
	font-size: 1.4rem;
	color: #595d60;
	font-weight: 400;
}

#logo:hover{
	background:white;
}

.burger{
	display: none;
}

.burger-menu{
	display: grid;
	position: absolute;
	top: 65px;
	z-index: 99;
	background-color: #F0F0F0;
	width: 100%;
	transition: all 0.5s;
}

.burger-menu li:not(:last-child){
	border-bottom: solid 1px lightgray;
}

#logo img{
	height: 40px;
	padding: 0;
}

/* hero */

#intro{
	height: 100%;
	max-height: 750px;
	/* background: url('https://t1-cms-1.images.toyota-europe.com/toyotaone/plpl/new-toyota-camry-exterior-02-full_tcm-1015-1484217.jpg'); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

#intro img{
	position: relative;
	top: -205px;
	width: 100%;
	max-height: 750px;
	z-index: -1;
	object-fit: cover;
}


#intro h1{
	padding: 70px 0 40px 0;
}

/* typography */

h1, h2, h3, article, .navUl li{
	text-align: center;
}

h1{
	font-size: 5rem;
}

h2{
	font-size: 3.2rem;
}

h3{
	font-size: 2.6rem;
}

h4{
	font-size: 2.2rem;
}

p{
	font-size: 1.7rem;
	line-height: 2.2rem;
}

.darkBlueFont{
	color: #23353f;
}

.u-margin-bottom-medium{
	margin-bottom: 50px;
}

.u-margin-bottom-small{
	margin-bottom: 20px;
}

/* component presentation */

article{
	margin: 100px 0;
}

article:before, .qualitiesTitle:before{
	content: '';
	display: block;
	width: 115px;
	height: 1px;
	background: rgb(180, 180, 180);
	margin: 0 auto 50px auto;
}

.pictures, .qualities, .generations{
	display:grid;
	
}

.pictures{
	margin-bottom: 50px;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 600px 300px 450px;
	grid-template-areas: "pic1 pic1 pic1 pic1 pic1 pic1"
						 "pic2 pic2 pic3 pic3 pic4 pic4"
						 "pic5 pic5 pic5 pic6 pic6 pic6"
}

.pictures img{
	box-sizing: border-box;
	transition: 0.5s;
	outline-offset: -10px;
}

.pictures img:hover{
	outline: solid 10px rgba(255, 255, 255, 0.7);
}

.pic-1, .pic-2, .pic-3, .pic-4, .pic-5, .pic-6{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pic-1{	grid-area: pic1 }

.pic-2{	grid-area: pic2 }

.pic-3{ grid-area: pic3 }

.pic-4{ grid-area: pic4 }

.pic-5{ grid-area: pic5 }

.pic-6{ grid-area: pic6 }

article{
	max-width: 1170px;
	margin: 70px auto;
}

.qualities{
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.qualities img{
	width: 100%;
}

.textCenter{
	text-align: center;
	padding: 0 15px;
}

.generations{
	grid-template-columns: repeat(auto-fit, 325px);
	grid-gap: 0;
}


.catalogue{
	color: white;
	display: inline-block;
	background: red;
	border-radius: 20px;
	border: 0;
	padding: 15px;
	font-size: 1.7rem;
	margin: 50px 0 0 50%;
	transform: translateX(-50%);
}

.catalogue span{
	padding: 10px;
	font-family: Helvetica;
}

/* gallery */
.gallery{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 200%;
	background-color: #F0F0F0;
	transition: all 0.5s;
	overflow: hidden;
	display: flex;
}

.gallery-exit{
	flex: 0 0 10rem;
	

}

.gallery-exit > p{
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 10%;
	transform: rotate(-90deg);
	cursor: pointer;
	
}

.gallery-exit > span{
	font-weight: bold;
}

.gallery__side-img{
	width: 7rem;
	margin: 0 auto;

}

.gallery-content__img{
	width: 100%;
	height: 100%;
	position: cover;
}

.btn-left,
.btn-right{
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 50%;
}

.btn-right{
	right: 5rem;
}

.btn-left{
	left: 15rem;
}

.btn-icon{
	width: 80%;
	height: 80%;
	fill: #fff;
}



/* media queries */

@media (max-width: 1710px){
	.navUl2 span{
		display: none;
	}

}

@media (max-width: 1290px){
	#intro{
		height: 100%;
	}

	.burger{
		display: block;
	}

	.menuItem{
		display: none;
	}
}

@media (max-width: 790px){
	html{
		font-size: 50%;
}

	#intro h1{
		padding: 45px 0 10px 0;
	}

	#intro h2{
		font-size: 1.6rem;
	}
}

@media (orientation: portrait){
	.qualities{
		grid-template-columns: 1fr;
	}



}